<div class="container">
    <div class="row profile" >
				<div id="container">
						<div
							ng2-carouselamos
							class="slides-wrapper"
							[items]="items"
							[width]="900"
							[$prev]="prev"
							[$next]="next"
							[$item]="item"
						>
						</div>
					
					
					<ng-template #prev>
						<img src="assets/images/left-arrow.gif" id="left" />
					</ng-template>
					<ng-template #next>
						<img src="assets/images/right-arrow.gif" id="right" />
					</ng-template>
					<ng-template #item let-item let-i="index">
					
							<div class="col-md-6" *ngFor="let user of users">
									<div class="profile-sidebar">
										<!-- SIDEBAR USERPIC -->
										<div class="profile-userpic">
											<img src="{{user.avatar}}" class="img-responsive" alt="">
										</div>
										<!-- END SIDEBAR USERPIC -->
										<!-- SIDEBAR USER TITLE -->
										<div class="profile-usertitle">
											<div class="profile-usertitle-name">
												{{user.first_name}}
											</div>
											<div class="profile-usertitle-job">
												{{user.last_name}}
											</div>
										</div>
										<!-- END SIDEBAR USER TITLE -->
										<!-- SIDEBAR BUTTONS -->
										<div class="profile-userbuttons">
											<button type="button" class="btn btn-success btn-sm" (click)="viewProfile(user)" >View Profile</button>
											<button type="button" class="btn btn-danger btn-sm">Message</button>
										</div>
										<!-- END SIDEBAR BUTTONS -->
									</div>
								</div>
					
					</ng-template>
		
	</div>
</div>


