<article class="card-group-item">
  <header class="card-header">
    <h6 class="title"> </h6>
  </header>
  <div class="filter-content">
    <div class="card-body">
    <form>
      <label class="form-check">
        <input class="form-check-input" type="checkbox" value="bangalore">
        <span class="form-check-label">
          Bangalore
        </span>
      </label> <!-- form-check.// -->
      <label class="form-check">
        <input class="form-check-input" type="checkbox" value="kolkata">
        <span class="form-check-label">
          Kolkata
        </span>
      </label>  <!-- form-check.// -->
      <label class="form-check">
        <input class="form-check-input" type="checkbox" value="jamshedpur">
        <span class="form-check-label">
          Jamshedpur
        </span>
      </label>  <!-- form-check.// -->
    </form>

    </div> <!-- card-body.// -->
  </div>
</article>